.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.widthImp{
    width: 4em;
}

.bg-FirstProduct{
  background-color: rgb(27, 27, 27);
}

.w-s{
  width: 6em ;
}

.bg-SecondProduct{
  background-color: rgb(16, 41, 75);;
}

.img{
  border-radius: 21px 21px 0 0;
}
.div__img{
  width: 80%; height: 300px; border-radius: 21px 21px 0 0;
}

.text-black{
  color: black;
}

.btn-buy-fixed{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1030;
}

.bg-lista{
  background-color: #ffecc6;
}