
<div class="text-center round shadow-lg p-5 my-5 bg-white row justify-content-center mx-auto w-50 rounded">
  <h1 class="h2">Login</h1>
  <br>
  <div class="my-5">
    <form action="index.php" method="post">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre</span>
        <input class="form-control" name="CustomerName" type="text" placeholder="Ej: Gaspar Morales" aria-label="Username" aria-describedby="basic-addon1" required>
        <button type="submit" class="btn btn-primary">Ingresar</button>
      </div>
    </form>
  </div>
</div>