<div class="container p-5">
    <div class="row w-100 my-md-3 align-items-start">

        <!--Mostrar 2 Articulo-->
        <div class="w-100 my-md-3 row align-items-center">

            <!--Articulo-->
            <div
                class="col bg-FirstProduct me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden rounded">
                <div class="my-4 p-3">
                    <h2 class="display-5" name="Producto3">Headsets Gamer</h2>
                    <p class="lead">Los Mejores Headsets</p>
                </div>

                <div class="row justify-content-center">
                    <div class="text-black col-auto bg-white rounded shadow-sm w-25">
                        <label name="precioU3">$420</label>
                    </div>
                </div>

                <div class="text-center my-4">
                    <span>Cantidad</span>
                    <input class="widthImp" type="number" min="0" name="cantidadUno" value="0">
                    <input type="hidden" name="productoUno" value="Headsets Gamer">
                    <input type="hidden" name="precioUUno" value="420">
                </div>

                <div class="bg-light shadow-sm mx-auto p-2 div__img">
                    <img src="../view/img/headsetDos.jpg" class="img-fluid img">
                </div>
            </div>

            <!--Articulo-->

            <div
                class="text-white col bg-SecondProduct me-md-3 pt-3 px-3 pt-md-5 px-md-5 w-50 text-center overflow-hidden rounded">
                <div class="my-4 p-3">
                    <h2 class="display-5" name="Producto4">Auriculares Inalambricos</h2>
                    <p class="lead">Mas de 8 horas de bateria </p>
                </div>

                <div class="row justify-content-center">
                    <div class="text-black col-auto bg-white rounded shadow-sm w-25">
                        <label name="precioU3">$520</label>
                    </div>
                </div>

                <div class="text-center my-4">
                    <span>Cantidad</span>
                    <input class="widthImp" type="number" min="0" name="cantidadDos" value="0">
                    <input type="hidden" name="productoDos" value="Auriculares Inalambricos">
                    <input type="hidden" name="precioUDos" value="520">
                </div>

                <div class="bg-light shadow-sm mx-auto p-2 div__img">
                    <img src="../view/img/headsetUno.jpg" class="shadow img-fluid img">
                </div>
            </div>
        </div>

        <!--Mostrar 2 Articulo-->
        <div class="w-100 my-md-3 row align-items-center">

            <!--Articulo-->
            <div
                class="col bg-FirstProduct me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden rounded">
                <div class="my-4 p-3">
                    <h2 class="display-5" name="Producto3">Teclados Gamer</h2>
                    <p class="lead">Los Mejores Teclados</p>
                </div>

                <div class="row justify-content-center">
                    <div class="text-black col-auto bg-white rounded shadow-sm w-25">
                        <label name="precioU3">$730</label>
                    </div>
                </div>

                <div class="text-center my-4">
                    <span>Cantidad</span>
                    <input class="widthImp" type="number" min="0" name="cantidadTres" value="0">
                    <input type="hidden" name="productoTres" value="Teclados Gamer">
                    <input type="hidden" name="precioUTres" value="730">
                </div>

                <div class="bg-light shadow-sm mx-auto p-2 div__img">
                    <img src="../view/img/tecladoDos.jpg" class="img-fluid img">
                </div>
            </div>

            <!--Articulo-->

            <div
                class="text-white col bg-SecondProduct me-md-3 pt-3 px-3 pt-md-5 px-md-5 w-50 text-center overflow-hidden rounded">
                <div class="my-4 p-3">
                    <h2 class="display-5" name="Producto4">Teclado Customs</h2>
                    <p class="lead">De todo los tipos y colores</p>
                </div>

                <div class="row justify-content-center">
                    <div class="text-black col-auto bg-white rounded shadow-sm w-25">
                        <label name="precioU3">$20</label>
                    </div>
                </div>

                <div class="text-center my-4">
                    <span>Cantidad</span>
                    <input class="widthImp" type="number" min="0" name="cantidadCuatro" value="0">
                    <input type="hidden" name="productoCuatro" value="Auriculares Inalambricos">
                    <input type="hidden" name="precioUCuatro" value="20">
                </div>

                <div class="bg-light shadow-sm mx-auto p-2 div__img">
                    <img src="../view/img/tecladoTres.jpg" class="shadow img-fluid img">
                </div>
            </div>
        </div>

        <!--Mostrar 2 Articulo-->
        <div class="w-100 my-md-3 row align-items-center">

            <!--Articulo-->
            <div
                class="col bg-FirstProduct me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden rounded">
                <div class="my-4 p-3">
                    <h2 class="display-5" name="Producto3">Mouse Steel Series</h2>
                    <p class="lead">Los Mejores Gamer</p>
                </div>

                <div class="row justify-content-center">
                    <div class="text-black col-auto bg-white rounded shadow-sm w-25">
                        <label name="precioU3">$230</label>
                    </div>
                </div>

                <div class="text-center my-4">
                    <span>Cantidad</span>
                    <input class="widthImp" type="number" min="0" name="cantidadCinco" value="0">
                    <input type="hidden" name="productoCinco" value="Mouse Steel Series">
                    <input type="hidden" name="precioUCinco" value="230">
                </div>

                <div class="bg-light shadow-sm mx-auto p-2 div__img">
                    <img src="../view/img/mouseDos.jpg" class="img-fluid img">
                </div>
            </div>

            <!--Articulo-->

            <div
                class="text-white col bg-SecondProduct me-md-3 pt-3 px-3 pt-md-5 px-md-5 w-50 text-center overflow-hidden rounded">
                <div class="my-4 p-3">
                    <h2 class="display-5" name="Producto4">Mouse Logitech</h2>
                    <p class="lead">De todo los tipos y colores</p>
                </div>

                <div class="row justify-content-center">
                    <div class="text-black col-auto bg-white rounded shadow-sm w-25">
                        <label name="precioU3">$320</label>
                    </div>
                </div>

                <div class="text-center my-4">
                    <span>Cantidad</span>
                    <input class="widthImp" type="number" min="0" name="cantidadSeis" value="0">
                    <input type="hidden" name="productoSeis" value="Mouse Logitech">
                    <input type="hidden" name="precioUSeis" value="320">
                </div>

                <div class="bg-light shadow-sm mx-auto p-2 div__img">
                    <img src="../view/img/mouseTres.jpg" class="shadow img-fluid img">
                </div>
            </div>
        </div>

        <!--button-->
        <div class="justify-content-end row">
            <div class="col-auto">
                <button type="submit" class="btn w-s btn-success btn-buy-fixed mb-3 mx-3"><i
                        class="fas fa-shopping-cart"></i></button>
            </div>
        </div>
    </div>
</div>