<header class="site-header sticky-top py-1 bg-dark">
    <p class="py-2 d-none d-md-inline-block">Selleccione sus productos
</header>
<!-- Comienza el form-->
<form action="guardarPedido.php" method="get">
    <div class="container p-3">
        <div class="row w-100 my-md-3 align-items-start">

            <div class="w-100 my-md-3 row align-items-center">
                <div class="col bg-FirstProduct me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden rounded">
                    <div class="my-4 p-3">
                        <h2 class="display-5" name="Producto3">Headsets Gamer</h2>
                        <p class="lead">Los Mejores Headsets</p>
                    </div>

                    <div class="text-black bg-light rounded shadow-sm my-2">
                        <p>$420</p>
                    </div>

                    <div class="text-center my-4">
                        <span>Cantidad</span>
                        <input class="widthImp" type="number" name="cantidadTres" value="0">
                        <input type="hidden" name="productoTres" value="Headsets Gamer Genericos">
                        <input type="hidden" name="precioUTres" value="420">
                    </div>

                    <div class="bg-light shadow-sm mx-auto p-2 div__img">
                        <img src="../view/img/headsetDos.jpg" class="img-fluid img">
                        <p class="py-3 text-black">Headsets Gamer Genericos</p>
                    </div>
                </div>

                <div class="text-white col bg-SecondProduct me-md-3 pt-3 px-3 pt-md-5 px-md-5 w-50 text-center overflow-hidden rounded">
                    <div class="my-8 pb-3">
                        <h2 class="display-5" name="Producto4">Auriculares Inalambricos</h2>
                        <p class="lead">Mas de 8 horas de bateria </p>
                    </div>

                    <div class="text-black bg-light rounded shadow-sm my-2">
                        <p>$560</p>
                    </div>

                    <div class="text-center my-4">
                        <span>Cantidad</span>
                        <input class="widthImp" type="number" name="cantidadTres" value="0">
                        <input type="hidden" name="productoTres" value="Headsets Gamer Genericos">
                        <input type="hidden" name="precioUTres" value="420">
                    </div>

                    <div class="bg-light shadow-sm mx-auto p-2 div__img">
                        <img src="../view/img/headsetUno.jpg" class="shadow img-fluid img">
                        <p class="py-3 text-black">Auriculares Sony</p>
                    </div>
                </div>
            </div>

            <div class="w-100 my-md-3 row align-items-center">
                <div class="col bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5" name="Producto3">Shorts Mujer</h2>
                        <p class="lead">Los mejores shorts</p>
                    </div>

                    <label for="cantidad3">Cantidad</label>
                    <input type="number" name="cantidadTres" value="0" class="form-control widthImp">

                    <div class="conteiner bg-light rounded shadow-sm my-2 text-black">
                        <label name="precioU3">$220</label>
                        <input type="hidden" name="productoTres" value="Shorts Mujer">
                        <input type="hidden" name="precioUTres" value="220">
                    </div>


                    <div class="bg-light shadow-sm mx-auto p-2 div__img">
                        <img src="../view/img/mouseUno.jpg" class="img-fluid img">
                    </div>
                </div>

                <div class="col bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 w-50 text-center overflow-hidden">
                    <div class="my-3 p-3 text-black">
                        <h2 class="display-5" name="Producto4">Shorts Hombre</h2>
                        <p class="lead">Los mejores shorts</p>
                    </div>

                    <label for="cantidad4">Cantidad</label>
                    <input type="number" name="cantidadCuatro" value="0" class="form-control widthImp">

                    <div class="conteiner bg-light rounded shadow-sm my-2">
                        <label name="precioU4">$180</label>
                        <input type="hidden" name="productoCuatro" value="Shorts Hombre">
                        <input type="hidden" name="precioUCuatro" value="180">
                    </div>


                    <div class="bg-dark shadow-sm mx-auto p-2 div__img">
                        <img src="../view/img/mouseDos.jpg" class="img-fluid img">
                    </div>
                </div>
            </div>

            <div class="w-100 my-md-3 row align-items-end">
                <div
                    class="col bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 d-inline-block text-center text-white overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5" name="Producto5">Sandalias</h2>
                        <p class="lead">Los mejores shorts</p>
                    </div>

                    <label for="cantidad5">Cantidad</label>
                    <input type="number" name="cantidadCinco" value="0" class="form-control widthImp">

                    <div class="conteiner bg-light rounded shadow-sm my-2 text-black">
                        <label name="precioU5">$220</label>
                        <input type="hidden" name="productoCinco" value="Sandalias">
                        <input type="hidden" name="precioUCinco" value="220">
                    </div>


                    <div class="bg-light shadow-sm mx-auto p-2 div__img">
                        <img src="../view/img/tecladoTres.jpg" class="img-fluid img">
                    </div>
                </div>

                <div class="col bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 w-50 text-center overflow-hidden">
                    <div class="my-3 p-3" style="color:black">
                        <h2 class="display-5" name="Producto6">Zapatos</h2>
                        <p class="lead">Los mejores shorts</p>
                    </div>

                    <label for="cantidad6">Cantidad</label>
                    <input type="number" name="cantidadSeis" value="0" class="form-control widthImp">

                    <div class="conteiner bg-light rounded shadow-sm my-2">
                        <label name="precioU6">$280</label>
                        <input type="hidden" name="productoSeis" value="Zapatos">
                        <input type="hidden" name="precioUSeis" value="280">
                    </div>



                    <div class="bg-dark shadow-sm mx-auto p-2 div__img">
                        <img src="../view/img/tecladoUno.jpg" class="img-fluid img">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary">Carrito</button>
        </div>
</form>