<header class="site-header sticky-top py-1 bg-dark">
    <p class="py-2 d-none d-md-inline-block">Selleccione sus productos
    <p>
</header>

<form action="guardarPedido.php" method="get">

    <div class="container p-3">
        <div class="row w-100 my-md-3 align-items-start">
            <div class="col bg-dark d-inline pt-3 px-3 pt-md-5 text-center text-white overflow-hidden">
                <div class="align-content-middle">
                    <div class="my-1 py-3 text-start">
                        <h2 class="display-5" name="Producto1">Camisetas</h2>
                        
                    </div>

                    <div class="bg-secondary rounded shadow-sm my-2 w-25">
                        <label name="precioU1">$150</label>
                        <input type="hidden" name="productoUno" value="Camisetas">
                        <input type="hidden" name="precioUUno" value="150">
                    </div>
                </div>

                <form class="row">
                    <div class="col-auto">
                        <label for="cantidad1">Cantidad</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" name="cantidadUno" value="0" class="form-control widthImp">
                    </div>
                </form>


                <div class="bg-light shadow-sm p-2 div__img">
                    <img src="../view/img/headsetTres.jpg" class="img-fluid img">
                </div> 

            <div class="col bg-light d-inline me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5" name="Producto2">Vestidos</h2>
                    <p class="lead">Tus camisetas preferidas</p>
                </div>

                <label for="cantidad2">Cantidad</label>
                <input type="number" name="cantidadDos" value="0" class="form-control widthImp">

                <div class="conteiner bg-light rounded shadow-sm my-2">
                    <label name="precioU2">$300</label>
                    <input type="hidden" name="productoDos" value="Vestidos">
                    <input type="hidden" name="precioUDos" value="300">
                </div>

                <div class="bg-dark shadow-sm mx-auto p-2 div__img">
                    <img src="../view/img/headsetDos.jpg" class="img-fluid img">
                </div>
            </div>
        </div>
    -->

        <div class="w-100 my-md-3 row align-items-center">
            <div class="col bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5" name="Producto3">Shorts Mujer</h2>
                    <p class="lead">Los mejores shorts</p>
                </div>

                <label for="cantidad3">Cantidad</label>
                <input type="number" name="cantidadTres" value="0" class="form-control widthImp">

                <div class="conteiner bg-light rounded shadow-sm my-2">
                    <label name="precioU3">$220</label>
                    <input type="hidden" name="productoTres" value="Shorts Mujer">
                    <input type="hidden" name="precioUTres" value="220">
                </div>


                <div class="bg-light shadow-sm mx-auto p-2 div__img">
                    <img src="../view/img/mouseUno.jpg" class="img-fluid img">
                </div>
            </div>

            <div class="col bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 w-50 text-center overflow-hidden">
                <div class="my-3 p-3" style="color:black">
                    <h2 class="display-5" name="Producto4">Shorts Hombre</h2>
                    <p class="lead">Los mejores shorts</p>
                </div>

                <label for="cantidad4">Cantidad</label>
                <input type="number" name="cantidadCuatro" value="0" class="form-control widthImp">

                <div class="conteiner bg-light rounded shadow-sm my-2">
                    <label name="precioU4">$180</label>
                    <input type="hidden" name="productoCuatro" value="Shorts Hombre">
                    <input type="hidden" name="precioUCuatro" value="180">
                </div>


                <div class="bg-dark shadow-sm mx-auto p-2 div__img">
                    <img src="../view/img/mouseDos.jpg" class="img-fluid img">
                </div>
            </div>
        </div>

        <div class="w-100 my-md-3 row align-items-end">
            <div
                class="col bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 d-inline-block text-center text-white overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5" name="Producto5">Sandalias</h2>
                    <p class="lead">Los mejores shorts</p>
                </div>

                <label for="cantidad5">Cantidad</label>
                <input type="number" name="cantidadCinco" value="0" class="form-control widthImp">

                <div class="conteiner bg-light rounded shadow-sm my-2">
                    <label name="precioU5">$220</label>
                    <input type="hidden" name="productoCinco" value="Sandalias">
                    <input type="hidden" name="precioUCinco" value="220">
                </div>


                <div class="bg-light shadow-sm mx-auto p-2 div__img">
                    <img src="../view/img/tecladoTres.jpg" class="img-fluid img">
                </div>
            </div>

            <div class="col bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 w-50 text-center overflow-hidden">
                <div class="my-3 p-3" style="color:black">
                    <h2 class="display-5" name="Producto6">Zapatos</h2>
                    <p class="lead">Los mejores shorts</p>
                </div>

                <label for="cantidad6">Cantidad</label>
                <input type="number" name="cantidadSeis" value="0" class="form-control widthImp">

                <div class="conteiner bg-light rounded shadow-sm my-2">
                    <label name="precioU6">$280</label>
                    <input type="hidden" name="productoSeis" value="Zapatos">
                    <input type="hidden" name="precioUSeis" value="280">
                </div>

                

                <div class="bg-dark shadow-sm mx-auto p-2 div__img">
                    <img src="../view/img/tecladoUno.jpg" class="img-fluid img">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary">Carrito</button>
    </div>

</form>